$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

/* These are the styles I have written for the app */

$primary-color: #ededed;
$secondary-color:#bcbcbc;
$border-radius:5px;
$large-padding:0px 40px;


body {
  background:$primary-color;
  margin:0;
}

header {
  background:#fff;
  height:60px;
  box-shadow:1px 1px 1px rgba(25, 25, 25, 0.1);
}

.logout-button {
  margin-top:20px;
}

.btn {
  border-radius:0px;
}

.large-padding {
  padding:$large-padding;
}



/* Login Styles */

.login-wrapper {
  position:relative;
  max-width:400px;
  margin:60px auto -30px auto;
  background:$secondary-color;
  padding:40px 40px 0px 40px;
  color:#333;
  border-radius:$border-radius;
}

.signup-wrapper {
  position:relative;
  padding-bottom:25px;
  margin:60px auto;
  padding:40px;
  background:$secondary-color;
  color:#333;
  border-radius:$border-radius;
}

.person-wrapper {
  background:$secondary-color;
  padding:15px;
  border-radius:$border-radius;
  margin-top:40px;
}

/* These are the Cloudinary Styles */
#direct_upload, #direct_upload_jquery { border: 4px dashed #ccc; }
#direct_upload.dragover { border-color: #0c0; }
#direct_upload.dragover-err { border-color: #c00; }

.upload_details { font-size: 12px; margin: 20px; border-top: 1px solid #ccc; word-wrap: break-word; }
.upload_button_holder {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.upload_button {
    display: inline-block;
    position: relative;
    font-weight: bold;
    font-size: 14px;
    background-color: rgb(15, 97, 172);
    color: #fff;
    padding: 5px 0;
    border: 1px solid #000;
    border-radius: 4px;
    width: 100px;
    height: 18px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.upload_button_holder .upload_button {
    display: block;
} 

.upload_button:hover {
    background-color: rgb(17, 133, 240);
}
.upload_button_holder .cloudinary_fileupload {
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
}
.progress-bar{
  width: 100px;
  position: relative;
  height: 4px;
}
.progress-bar .progress{
  height: 4px;
  background-color: #ff0000;
  width: 0%;
}

/* End Cloudinary Files */




