$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
// endbower

/* These are the styles I have written for the app */

$primary-color: #ededed;
$secondary-color:#bcbcbc;
$border-radius:5px;
$large-padding:0px 40px;


body {
  background:$primary-color;
  margin:0;
}

header {
  background:#fff;
  height:60px;
  box-shadow:1px 1px 1px rgba(25, 25, 25, 0.1);
}

.logout-button {
  margin-top:20px;
}

.btn {
  border-radius:0px;
}

.large-padding {
  padding:$large-padding;
}



/* Login Styles */

.login-wrapper {
  position:relative;
  max-width:400px;
  margin:60px auto -30px auto;
  background:$secondary-color;
  padding:40px 40px 0px 40px;
  color:#333;
  border-radius:$border-radius;
}

.signup-wrapper {
  position:relative;
  padding-bottom:25px;
  margin:60px auto;
  padding:40px;
  background:$secondary-color;
  color:#333;
  border-radius:$border-radius;
}

.person-wrapper {
  background:$secondary-color;
  padding:15px;
  border-radius:$border-radius;
  margin-top:40px;
}




