<div class="row text-center">

<div class="login-wrapper">
	<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="inputName" class="control-label pull-left">Email</label>
    <div class="">
      <input type="email" class="form-control" id="inputName" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword" class="control-label pull-left">Password</label>
    <div class="">
      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label class="pull-right">
          <input type="checkbox"> Remember me
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary pull-right">Sign in</button>
    </div>
  </div>
</form>
</div>

</div><!-- end row -->
